.scroll-reveal {
  margin: 20px 0;
}

/* .scroll-reveal-text {
  font-size: clamp(1.6rem, 4vw, 3rem);
  line-height: 1.5;
  font-weight: 600;
} */

.scroll-reveal-text {
  font-size: clamp(1.3rem, 1.1vw, 1.1rem); /* smaller responsive size */
  line-height: 1.6;  /* good readability */
  font-weight: 400;  /* normal weight */
}


.word {
  display: inline-block;
}
